<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Dealer4dealer\Xcore\Api\AlterShipmentInterface" type="Dealer4dealer\Xcore\Model\AlterShipment"/>
	<preference for="Dealer4dealer\Xcore\Api\OrderStateRepositoryInterface" type="Dealer4dealer\Xcore\Model\OrderStateRepository" />
	<preference for="Dealer4dealer\Xcore\Api\OrderStatusRepositoryInterface" type="Dealer4dealer\Xcore\Model\OrderStatusRepository" />
	<preference for="Dealer4dealer\Xcore\Api\PaymentMethodRepositoryInterface" type="Dealer4dealer\Xcore\Model\PaymentMethodRepository" />
	<preference for="Dealer4dealer\Xcore\Api\PriceListItemGroupRepositoryInterface" type="Dealer4dealer\Xcore\Model\PriceListItemGroupRepository"/>
	<preference for="Dealer4dealer\Xcore\Api\PriceListItemRepositoryInterface" type="Dealer4dealer\Xcore\Model\PriceListItemRepository"/>
	<preference for="Dealer4dealer\Xcore\Api\PriceListRepositoryInterface" type="Dealer4dealer\Xcore\Model\PriceListRepository"/>
	<preference for="Dealer4dealer\Xcore\Api\ShippingMethodRepositoryInterface" type="Dealer4dealer\Xcore\Model\ShippingMethodRepository"/>
	<preference for="Dealer4dealer\Xcore\Api\RestManagementInterface" type="Dealer4dealer\Xcore\Model\RestManagement"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\ShippingMethodInterface" type="Dealer4dealer\Xcore\Model\ShippingMethod"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\PaymentCostInterface" type="Dealer4dealer\Xcore\Model\PaymentCost"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\PaymentMethodInterface" type="Dealer4dealer\Xcore\Model\PaymentMethod"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\OrderStateInterface" type="Dealer4dealer\Xcore\Model\OrderState"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\OrderStatusInterface" type="Dealer4dealer\Xcore\Model\OrderStatus"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\PriceListInterface" type="Dealer4dealer\Xcore\Model\PriceList"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\PriceListItemGroupInterface" type="Dealer4dealer\Xcore\Model\PriceListItemGroup"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\PriceListItemInterface" type="Dealer4dealer\Xcore\Model\PriceListItem"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\PriceListSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\PriceListItemSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\PriceListItemGroupSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Dealer4dealer\Xcore\Api\Data\VersionInterface" type="Dealer4dealer\Xcore\Model\Version"/>
</config>
