<?xml version="1.0"?>
<config>
    <module name="Dealer4dealer_Xcore" setup_version="2.1.3">
        <sequence>
            <module name="Magento_Catalog"></module>
            <module name="Magento_Customer"></module>
            <module name="Magento_Sales"></module>
            <module name="Magento_Tax"></module>
        </sequence>
    </module>
</config>
