<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dealer4dealer_Xcore::dealer4dealer_xcore"
             title="D4D xCore"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::content"
        />
        <add id="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_attributes"
             title="Custom attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore"
        />
        <add id="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_product_attributes"
             title="Product attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_attributes"
             action="xcore/customAttributes/product"
        />
        <add id="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_customer_attributes"
             title="Customer attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_attributes"
             action="xcore/customAttributes/customer"
        />
        <add id="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_order_attributes"
             title="Order attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_attributes"
             action="xcore/customAttributes/order"
        />
        <add id="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_invoice_attributes"
             title="Invoice attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_attributes"
             action="xcore/customAttributes/invoice"
        />
        <add id="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_credit_attributes"
             title="Credit attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::content"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore_custom_attributes"
             action="xcore/customAttributes/credit"
        />
    </menu>
</config>