<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dealer4dealer_Xcore::dealer4dealer_xcore"
             title="D4D xCore"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::xcore"
        />
        <add id="Dealer4dealer_Xcore::custom_product_attributes"
             title="Product attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::custom_attribute"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore"
             action="xcore/customProductAttribute"
        />
        <add id="Dealer4dealer_Xcore::custom_customer_attributes"
             title="Customer attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::custom_attribute"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore"
             action="xcore/customCustomerAttribute"
        />
        <add id="Dealer4dealer_Xcore::custom_order_attributes"
             title="Order attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::custom_attribute"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore"
             action="xcore/customOrderAttribute"
        />
        <add id="Dealer4dealer_Xcore::custom_invoice_attributes"
             title="Invoice attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::custom_attribute"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore"
             action="xcore/customInvoiceAttribute"
        />
        <add id="Dealer4dealer_Xcore::custom_credit_attributes"
             title="Credit attributes"
             module="Dealer4dealer_Xcore"
             sortOrder="9999"
             resource="Magento_Backend::custom_attribute"
             parent="Dealer4dealer_Xcore::dealer4dealer_xcore"
             action="xcore/customCreditAttribute"
        />
    </menu>
</config>